@charset "UTF-8";

/*main.css*/

*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}
ul,ol,li {  list-style: none; margin: 0; padding: 0; }

@media (max-width:599px) {
  #slider {  width:100%; height: 600px;  display: flex;
              margin: 0 auto;  background-position: center; background-size: cover;  }

  #slider .st { width: 87%; height: 260px;  display: flex;  justify-content: space-around;
                flex-direction: column; position: relative; top: 35%; left: 10%; }
  #slider .st h1 { font-size: 40px;color: #fff; }
  #slider .st h3 { font-size: 27px;color: #fff; }

  #slider .st .btn1 { width: 150px; height: 55px; display: flex; align-items: center;
                      justify-content: center; border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                      background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}
  #slider .st .btn1 h2 {  color: #fff; font-size: 17px; }

  #contents {  width: 100%; height: auto; display: flex;
              margin: 0 auto; flex-flow:column wrap; }

  #contents .abox {  width: 100%; height: 850px;  display: flex;
                     margin: 0 auto; }
  #contents .abox .abox1{  width:95%; height: 850px; display: flex; margin: 0 auto; flex-direction: column;
                           align-items: center; justify-content: center; }
  #contents .abox1 .aphoto { width: 100%; height: 300px; display: flex;
                             justify-content: center; align-items: center; }

  #contents .abox1 .atext {width: 100%; height: 470px; display: flex;
                            flex-direction: column;padding: 15px; align-items: flex-end;}

  #contents .abox1 .atext h1 { font-size: 28px; color:#44199c;  font-weight: bold;}

  #contents .abox1 .atext p { font-size: 15px; line-height: 25px;}

  #contents .abox1 .abutton {  width: 330px; height: 150px; display: flex;
                               align-items: center; justify-content: space-between;}

  #contents .abox1 .abutton h2 { color: #fff;  font-size: 17px; }

  #contents .abox1 .abutton .btn2 { width: 150px; height: 55px; display: flex; align-items: center;
                                   justify-content: center; border-radius: 50px;  cursor: pointer;
                                   border:none; background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}
  #contents .abox1 .abutton .btn3 { width: 150px; height: 55px; display: flex; align-items: center;
                                    justify-content: center; border-radius: 50px;  cursor: pointer;
                                    background:#150e30; border:none;}

  #contents .abox1 .abutton .btn3:hover { background-image: linear-gradient(90deg, #ad01de,#42d2f0 ); }

  #contents .bbox { width: 100%; height: 2000px; display: flex;
                       margin: 0 auto;  background-position:center; background-size:cover;}
  #contents .bbox .bboxbox { width:90%; height: 1600px; display: flex;
                               margin: 60px auto; flex-flow: row wrap; }
  #contents .bboxbox .bphoto1 { width:47%; height: 260px; display: flex;
                               position: relative; top: 0%; left: 0%; background-position: center; background-size: cover; }

  #contents .bboxbox .btext1 { width:50%; height: 40px; display: flex; position: relative; top: 72%; left: 10%;
                              z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                               justify-content: center; align-items: center; color: #fff;  font-size: 15px; }
  #contents .bboxbox .bphoto2 { width: 47%; height: 260px; display: flex;
                                 position: relative; top: 0%; left: 6%; background-position: center;
                                background-size: cover;}

  #contents .bboxbox .btext2 { width:80%; height: 40px; display: flex; position: relative; top: 72%; left: 10%;
                               z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                               justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto3 { width:47%; height: 260px; display: flex;
                                position: relative; top:0%; left: 0%;
                                background-position: center; background-size: cover; }
  #contents .bboxbox .btext3 { width:55%; height: 40px; display: flex; position: relative; top: 72%; left: 10%;
                               z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}


  #contents .bboxbox .bphoto4 { width:47%; height: 260px; display: flex;
                                          background-position: center; background-size: cover;  position: relative; top:0%; left: 6%;
                                          padding: 35px; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto4 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto5 { width: 47%; height: 260px; display: flex;   position: relative;  top:0%; left: 0;
                                          background-position: center; background-size: cover;
                                           padding: 35px; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto5 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto6 { width:47%; height: 260px; display: flex;
                                position: relative; top:0%; left: 6%;
                                background-position: center; background-size: cover; }

  #contents .bboxbox .bphoto7 { width:47%; height: 260px; display: flex;
                                position: relative; top: 0%; left: 0%;
                                background-position: center;  background-size: cover;}

  #contents .bboxbox .btext7 { width:75%; height: 40px; display: flex; position: relative; top: 75%; left: 10%;
                                z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto8 { width:47%; height: 260px; display: flex;
                                position: relative; top:0%; left: 6%;
                                background-position: center; background-size: cover;}

  #contents .bboxbox .btext8 { width:55%; height: 40px; display: flex; position: relative; top: 75%; left: 10%;
                                z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto9 { width:47%; height: 260px; display: flex;  background-position: center; background-size: cover;
                               position: relative; top: 0%; left:0%; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto9 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto10 { width:47%; height: 260px; display: flex; background-position: center; background-size: cover;
                                 position: relative; top:0%; left: 6%; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto10 h1 { color: #fff; font-size: 19px; text-align: center; }

  #contents .cbox {  width:90%; height:auto; display: flex;
                    flex-direction: column; margin: 0 auto; }

  #contents .cbox1 { width:100%; height: 100px; display: flex; margin: 0 auto;
                     padding: 10px; justify-content: center; align-items: center; flex-flow: row wrap;
                     background-position: center; background-size: contain; background-repeat: no-repeat; }

  #contents .cbox1 h1 { font-size: 40px; color: #9233e2;  text-align: center; line-height: 80px; }
  #contents .cbox1 p { font-size: 13px; text-align: center; color: #666;}

  #contents .cbox2 {   width:100%; height: 2300px; display: flex; margin: 100px auto 0 auto;
                      flex-direction: column;justify-content: space-between; }

  #contents .cbox2 .cphotobox { width:100%; height: 750px; display: flex;
                                  margin: 0 auto; flex-direction: column;}

  #contents .cphotobox .cphoto { width:100%; height: 500px; display: flex;
                                              background-position: center; background-size: cover;}

  #contents .cphotobox .ctext {  width:100%; height: 400px; display: flex; margin: 0 auto;
                                 padding: 5px;  flex-direction: column; align-items: center;justify-content: center;}

  #contents .cphotobox .ctext h1 { text-align: center; font-size: 21px; font-weight: bold; }
  #contents .cphotobox .ctext p { text-align: center; font-size: 14px; color: #666; padding: 10px 5px; }
  #contents .cphotobox .ctext .btn4{  width: 100px; height: 35px; display: flex; align-items: center;
                                    justify-content: center; border-radius: 50px;  cursor: pointer;
                                    background-image: linear-gradient(90deg, #ad01de,#42d2f0 ); border:none; }
  #contents .ctext .btn4 h2 { color: #fff; font-weight: bold; font-size: 13px;}

  #contents .cphotobox .ctext .btn4:hover { background-image: linear-gradient(90deg, #150e30,#150e30);}

  #contents .dbox { width:100%; height: 2500px; display: flex;
                     background-position: center; background-size: cover;
                      margin: 0 auto; align-items: flex-end; justify-content: center;}

  #contents .dbox .dboxbox { width:95%; height: 2050px; display: flex;
                               justify-content: space-between; margin: 0 auto; flex-flow: row wrap;}

  #contents .dbox .dtext1 { width:65%; height: 80px; display: flex;
                            margin: 0px 0 0 0; align-items: center; padding: 10px; }

  #contents .dbox .dtext1 h1 { color:#fff; font-size: 48px; }

  #contents .dbox .dcheck {  width: 150px; height: 55px; display: flex;
                             margin: 50px 0 0 0; justify-content: center; align-items: center;
                             border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                             background-image: linear-gradient(90deg, #ad01de,#42d2f0 );  }

  #contents .dbox .dcheck select {  border:none; background:none; color: #fff;
                                    font-size: 17px; font-weight: bold;}
  #contents .dbox .dcheck select option { background-color: #8849e4;}

  #contents .dbox .dphoto { width:100%; height: 1200px; display: flex;
                             flex-flow: row wrap; margin: 90px auto; justify-content: space-between; align-items: center;}

  #contents .dbox .dphoto1 { width:45%; height: 400px; display: flex;
                              flex-direction: column; margin: 10px auto 0px auto;}

  #contents .dbox .dphoto2 { width:100%; height: 300px; display: block; overflow:hidden; }

  #contents .dbox .dphoto2 img { width:100%; height: 300px; }

  #contents .dbox .dphoto2::after {content:""; display:block; width:100%; height:302px;
                                   background:#8654e9; position:relative; top:-305px; opacity:0;
                                    cursor:pointer; transition:all 0.4s ease-in-out;
                                    background-image: url(../img/icon2.png);
                                  background-position:center; background-repeat: no-repeat;
                                  background-size:40px;}

  #contents .dbox .dphoto2:hover:after{ opacity:0.9;}

  #contents .dbox .dptext { width:100%; height: 140px; display: flex;
                            justify-content: center; align-items: center; flex-direction: column;}

  #contents .dbox .dptext h3 { color:#fff; font-size: 19px; line-height: 45px; text-align: center;}

  #contents .dbox .dptext p { font-size: 12px; color:#8654e9; line-height: 20px;}

  #contents .dbox .dtext2 { width:100%; height: 500px; display: flex;
                              margin: 0px auto;  justify-content: space-around;
                               flex-flow: row wrap;}

  #contents .dbox .dtext3 { width:1000px; height: 100px; display: flex;  margin: 0 auto;
                                   justify-content: center; align-items: center; background-position: center;
                                  background-size:contain;  background-repeat:no-repeat;}

  #contents .dbox .dtext3 h1 { color:#fff; font-size: 48px; }

  #contents .dbox .dphoto3 { width:35%; height: 110px; display: flex;
                              background-position: center; background-size: contain;
                              background-repeat: no-repeat;}

  #contents .ebox  { width:100%; height: 550px; display: flex;
                       margin: 0 auto; background-position: center; background-size: cover;}

  #contents .ebox .eboxbox  {  width:90%; height: 550px; display: flex;
                                 margin: 0 auto; justify-content: center; flex-direction: column;}

  #contents .eboxbox .etext1 { width:90%; height: 150px; display: flex; margin: 0 auto;
                                flex-direction: column; align-items:center; justify-content: space-around;}
  #contents .eboxbox .etext1 h1 { color:#fff; font-size: 29px; text-align: center; }
  #contents .eboxbox .etext1 p { color:#fff; font-size: 18px; }

  #contents .eboxbox .etext2 { width:100%; height: 220px; display: flex;  margin: 40px auto; flex-direction: column;
                               align-items: center; justify-content: space-between; }

  #contents .eboxbox .etext2 .einput { width:100%; height:120px; display: flex;
                                        flex-direction: column; justify-content: space-between;}

  #contents .eboxbox .etext2 input {  width:100%; height: 45px; border-radius: 10px; border:none; padding: 15px;}

  #contents .eboxbox .etext2 input:nth-of-type(2n)  { width:100%; height: 45px; border-radius: 10px; border:none; padding: 15px;}

  #contents .eboxbox .etext2 .btn5box { width: 150px; height: 55px; display: flex; }

  #contents .eboxbox .etext2 .btn5 { width: 140px; height: 55px; display: flex; align-items: center;
                      justify-content: center; border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                      background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}

  #contents .eboxbox .etext2 .btn5 h2{ color: #fff; font-size: 17px; }

  }



@media (min-width:600px) {
  #slider {  width:100%; height: 700px;  display: flex;
              margin: 0 auto;  background-position: center; background-size: cover;  }

  #slider .st { width: 80%; height: 280px;  display: flex;  justify-content: space-around;
                flex-direction: column; position: relative; top: 45%; left: 20%; }
  #slider .st h1 { font-size: 45px;color: #fff; }
  #slider .st h3 { font-size: 30px;color: #fff; }

  #slider .st .btn1 { width: 150px; height: 55px; display: flex; align-items: center;
                      justify-content: center; border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                      background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}
  #slider .st .btn1 h2 {  color: #fff; font-size: 17px; }

  #contents {  width: 100%; height: auto; display: flex;
              margin: 0 auto; flex-flow:column wrap; }

  #contents .abox {  width: 100%; height: 750px;  display: flex;
                     margin: 0 auto;  }
  #contents .abox .abox1{  width:95%; height: 750px; display: flex; margin: 0 auto; flex-direction: column;
                           align-items: center; justify-content: center;}
  #contents .abox1 .aphoto { width: 95%; height: 300px; display: flex;
                             justify-content: center; align-items: center; }

  #contents .abox1 .atext {width: 95%; height: 400px; display: flex;
                            flex-direction: column;padding: 15px; align-items: flex-end;}

  #contents .abox1 .atext h1 { font-size: 28px; color:#44199c;  font-weight: bold;}

  #contents .abox1 .atext p { font-size: 15px; line-height: 25px;}

  #contents .abox1 .abutton {  width: 330px; height: 150px; display: flex;
                               align-items: center; justify-content: space-between;}

  #contents .abox1 .abutton h2 { color: #fff;  font-size: 17px; }

  #contents .abox1 .abutton .btn2 { width: 150px; height: 55px; display: flex; align-items: center;
                                   justify-content: center; border-radius: 50px;  cursor: pointer;
                                   border:none; background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}
  #contents .abox1 .abutton .btn3 { width: 150px; height: 55px; display: flex; align-items: center;
                                    justify-content: center; border-radius: 50px;  cursor: pointer;
                                    background:#150e30; border:none;}

  #contents .abox1 .abutton .btn3:hover { background-image: linear-gradient(90deg, #ad01de,#42d2f0 ); }

  #contents .bbox { width: 100%; height: 2100px; display: flex;
                       margin: 0 auto;  background-position:center; background-size:cover;}
  #contents .bbox .bboxbox { width:85%; height: 1650px; display: flex;
                               margin: 60px auto; flex-flow: row wrap; }
  #contents .bboxbox .bphoto1 { width:47%; height: 300px; display: flex;
                               position: relative; top: 0%; left: 0%; background-position: center; background-size: cover; }

  #contents .bboxbox .btext1 { width:50%; height: 40px; display: flex; position: relative; top: 72%; left: 10%;
                              z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                               justify-content: center; align-items: center; color: #fff;  font-size: 15px; }
  #contents .bboxbox .bphoto2 { width: 47%; height: 300px; display: flex;
                                 position: relative; top: 0%; left: 6%; background-position: center;
                                background-size: cover;}

  #contents .bboxbox .btext2 { width:80%; height: 40px; display: flex; position: relative; top: 72%; left: 10%;
                               z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                               justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto3 { width:47%; height: 300px; display: flex;
                                position: relative; top:0%; left: 0%;
                                background-position: center; background-size: cover; }
  #contents .bboxbox .btext3 { width:55%; height: 40px; display: flex; position: relative; top: 72%; left: 10%;
                               z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}


  #contents .bboxbox .bphoto4 { width:47%; height: 300px; display: flex;
                                          background-position: center; background-size: cover;  position: relative; top:0%; left: 6%;
                                          padding: 35px; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto4 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto5 { width: 47%; height: 300px; display: flex;   position: relative;  top:0%; left: 0;
                                          background-position: center; background-size: cover;
                                           padding: 35px; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto5 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto6 { width:47%; height: 300px; display: flex;
                                position: relative; top:0%; left: 6%;
                                background-position: center; background-size: cover; }

  #contents .bboxbox .bphoto7 { width:47%; height: 300px; display: flex;
                                position: relative; top: 0%; left: 0%;
                                background-position: center;  background-size: cover;}

  #contents .bboxbox .btext7 { width:75%; height: 40px; display: flex; position: relative; top: 75%; left: 10%;
                                z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto8 { width:47%; height: 300px; display: flex;
                                position: relative; top:0%; left: 6%;
                                background-position: center; background-size: cover;}

  #contents .bboxbox .btext8 { width:55%; height: 40px; display: flex; position: relative; top: 75%; left: 10%;
                                z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto9 { width:47%; height: 300px; display: flex;  background-position: center; background-size: cover;
                               position: relative; top: 0%; left:0%; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto9 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto10 { width:47%; height: 300px; display: flex; background-position: center; background-size: cover;
                                 position: relative; top:0%; left: 6%; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto10 h1 { color: #fff; font-size: 19px; text-align: center; }

  #contents .cbox {  width:90%; height:auto; display: flex;
                    flex-direction: column; margin: 0 auto; }

  #contents .cbox1 { width:100%; height: 100px; display: flex; margin: 0 auto;
                     padding: 10px; justify-content: center; align-items: center; flex-flow: row wrap;
                     background-position: center; background-size: contain; background-repeat: no-repeat;}

  #contents .cbox1 h1 { font-size: 40px; color: #9233e2;  text-align: center; line-height:90px; }
  #contents .cbox1 p { font-size: 13px; text-align: center; color: #666;}

  #contents .cbox2 {  width:100%; height: 1300px; display: flex; margin: 100px auto 0 auto;
                      flex-direction: column;justify-content: space-between; }

  #contents .cbox2 .cphotobox { width:95%; height: 550px; display: flex;
                                 flex-flow: row; wrap; margin: 0 auto;}

  #contents .cphotobox .cphoto { width:100%; height: 400px; display: flex;
                                              background-position: center; background-size: cover; }

  #contents .cphotobox .ctext {  width:100%; height: 400px; display: flex; margin: 0 auto;
                                 padding: 5px;  flex-direction: column; align-items: center;justify-content: center;}

  #contents .cphotobox .ctext h1 { text-align: center; font-size: 23px; font-weight: bold; }
  #contents .cphotobox .ctext p { text-align: center; font-size: 14px; color: #666; padding: 10px 5px; }
  #contents .cphotobox .ctext .btn4{  width: 100px; height: 35px; display: flex; align-items: center;
                                    justify-content: center; border-radius: 50px;  cursor: pointer;
                                    background-image: linear-gradient(90deg, #ad01de,#42d2f0 ); border:none; }
  #contents .ctext .btn4 h2 { color: #fff; font-weight: bold; font-size: 13px;}

  #contents .cphotobox .ctext .btn4:hover { background-image: linear-gradient(90deg, #150e30,#150e30);}

  #contents .dbox { width:100%; height: 2300px; display: flex;
                     background-position: center; background-size: cover;
                      margin: 0px auto 0 auto; align-items: flex-end; justify-content: center;}

  #contents .dbox .dboxbox {  width:85%; height: 1900px; display: flex;
                               justify-content: space-between; margin: 0 auto; flex-flow: row wrap;}

  #contents .dbox .dtext1 { width:65%; height: 80px; display: flex;
                            margin: 90px 0 0 0; align-items: center; padding: 10px; }

  #contents .dbox .dtext1 h1 { color:#fff; font-size: 48px; }

  #contents .dbox .dcheck {  width: 150px; height: 55px; display: flex;
                             margin: 107px 0 0 0; justify-content: center; align-items: center;
                             border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                             background-image: linear-gradient(90deg, #ad01de,#42d2f0 );  }

  #contents .dbox .dcheck select {  border:none; background:none; color: #fff;
                                    font-size: 17px; font-weight: bold;}
  #contents .dbox .dcheck select option { background-color: #8849e4;}

  #contents .dbox .dphoto { width:100%; height: 1300px; display: flex;
                             flex-flow: row wrap; margin: 40px auto; justify-content: space-between; align-items: center;}

  #contents .dbox .dphoto1 { width:47%; height: 410px; display: flex;
                              flex-direction: column; margin: 10px auto 0px auto;}

  #contents .dbox .dphoto2 { width:100%; height: 320px;display: block; overflow:hidden;}

  #contents .dbox .dphoto2 img { width:100%; height: 320px; }

  #contents .dbox .dphoto2::after {content:""; display:block; width:100%; height:342px;
                                   background:#8654e9; position:relative; top:-325px; opacity:0;
                                    cursor:pointer; transition:all 0.4s ease-in-out;
                                    background-image: url(../img/icon2.png);
                                  background-position:center; background-repeat: no-repeat;
                                  background-size:40px;}

  #contents .dbox .dphoto2:hover:after{ opacity:0.9;}

  #contents .dbox .dptext { width:100%; height: 70px; display: flex;
                            justify-content: center; align-items: center; flex-direction: column;}

  #contents .dbox .dptext h3 { color:#fff; font-size: 19px; line-height: 45px; text-align: center;}

  #contents .dbox .dptext p { font-size: 12px; color:#8654e9; line-height: 20px;}

  #contents .dbox .dtext2 { width:100%; height: 300px; display: flex;
                              margin: 0px auto; justify-content: space-between;flex-flow: row wrap;}

  #contents .dbox .dtext3 { width:1000px; height: 100px; display: flex;  margin: 0 auto;
                            justify-content: center; align-items: center;
                           background-position: center; background-size: contain; background-repeat: no-repeat; }

  #contents .dbox .dtext3 h1 { color:#fff; font-size: 48px; }

  #contents .dbox .dphoto3 { width:18%; height: 110px; display: flex;
                              background-position: center; background-size: contain;
                              background-repeat: no-repeat;}

  #contents .ebox  { width:100%; height: 450px; display: flex;
                       margin: 0 auto; background-position: center; background-size: cover;}

  #contents .ebox .eboxbox  {  width:90%; height: 450px; display: flex;
                                 margin: 0 auto; justify-content: center; flex-direction: column;}

  #contents .eboxbox .etext1 { width:90%; height: 150px; display: flex; margin: 0 auto;
                                flex-direction: column; align-items:center; justify-content: space-around;}
  #contents .eboxbox .etext1 h1 { color:#fff; font-size: 32px; }
  #contents .eboxbox .etext1 p { color:#fff; font-size: 20px; }

  #contents .eboxbox .etext2 { width:95%; height: 150px; display: flex;  margin: 0 auto;
                               align-items: center; justify-content: space-around;  }

  #contents .eboxbox .etext2 .einput { width:550px; height:130px; display: flex;
                                        flex-direction: column; justify-content: space-between;}

  #contents .eboxbox .etext2 input {  width:130px; height: 45px; border-radius: 10px; border:none; padding: 15px;}

  #contents .eboxbox .etext2 input:nth-of-type(2n)  { width:410px; height: 45px; border-radius: 10px; border:none; padding: 15px;}

  #contents .eboxbox .etext2 .btn5box { width: 150px; height: 55px; display: flex; }

  #contents .eboxbox .etext2 .btn5 { width: 140px; height: 55px; display: flex; align-items: center;
                      justify-content: center; border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                      background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}

  #contents .eboxbox .etext2 .btn5 h2{ color: #fff; font-size: 17px; }

}



@media (min-width:700px) {
  #slider {  width:100%; height: 800px;  display: flex;
              margin: 0 auto;  background-position: center; background-size: cover;  }

  #slider .st { width: 80%; height: 280px;  display: flex;  justify-content: space-around;
                flex-direction: column; position: relative; top: 45%; left: 20%; }
  #slider .st h1 { font-size: 55px;color: #fff; }
  #slider .st h3 { font-size: 40px;color: #fff; }

  #slider .st .btn1 { width: 150px; height: 55px; display: flex; align-items: center;
                      justify-content: center; border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                      background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}
  #slider .st .btn1 h2 {  color: #fff; font-size: 17px; }

  #contents {  width: 100%; height: auto; display: flex;
              margin: 0 auto; flex-flow:column wrap; }

  #contents .abox {  width: 100%; height: 750px;  display: flex;
                     margin: 0 auto;  }
  #contents .abox .abox1{  width:95%; height: 750px; display: flex; margin: 0 auto; flex-direction: column;
                           align-items: center; justify-content: center;}
  #contents .abox1 .aphoto { width: 95%; height: 300px; display: flex;
                             justify-content: center; align-items: center; }

  #contents .abox1 .atext {width: 95%; height: 400px; display: flex;
                            flex-direction: column;padding: 15px; align-items: flex-end;}

  #contents .abox1 .atext h1 { font-size: 32px; color:#44199c;  font-weight: bold;}

  #contents .abox1 .atext p { font-size: 15px; line-height: 25px;}

  #contents .abox1 .abutton {  width: 330px; height: 150px; display: flex;
                               align-items: center; justify-content: space-between;}

  #contents .abox1 .abutton h2 { color: #fff;  font-size: 17px; }

  #contents .abox1 .abutton .btn2 { width: 150px; height: 55px; display: flex; align-items: center;
                                   justify-content: center; border-radius: 50px;  cursor: pointer;
                                   border:none; background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}
  #contents .abox1 .abutton .btn3 { width: 150px; height: 55px; display: flex; align-items: center;
                                    justify-content: center; border-radius: 50px;  cursor: pointer;
                                    background:#150e30; border:none;}

  #contents .abox1 .abutton .btn3:hover { background-image: linear-gradient(90deg, #ad01de,#42d2f0 ); }

  #contents .bbox { width: 100%; height: 1400px; display: flex;
                       margin: 0 auto;  background-position:center; background-size:cover;}
  #contents .bbox .bboxbox { width:90%; height: 1050px; display: flex;
                               margin: 0 auto; flex-flow: row wrap; }
  #contents .bboxbox .bphoto1 { width:30%; height: 350px; display: flex;
                               position: relative; top: 10%; left: 0%; background-position: center; background-size: cover; }

  #contents .bboxbox .btext1 { width:50%; height: 40px; display: flex; position: relative; top: 72%; left: 10%;
                              z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                               justify-content: center; align-items: center; color: #fff;  font-size: 15px; }
  #contents .bboxbox .bphoto2 { width: 20%; height: 220px; display: flex;
                                 position: relative; top: 7%; left: 4.5%; background-position: center;
                                background-size: cover;}

  #contents .bboxbox .btext2 { width:80%; height: 40px; display: flex; position: relative; top: 62%; left: 10%;
                               z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                               justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto3 { width:22%; height: 220px; display: flex;
                                position: relative; top:15%; left: 8.5%;
                                background-position: center; background-size: cover; }
  #contents .bboxbox .btext3 { width:55%; height: 40px; display: flex; position: relative; top: 62%; left: 10%;
                               z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}


  #contents .bboxbox .bphoto4 { width:15%; height: 160px; display: flex;
                                          background-position: center; background-size: cover;  position: relative; top:24%; left: 13%;
                                          padding: 35px; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto4 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto5 { width: 15%; height: 150px; display: flex;   position: relative;  top:12%; left: 0;
                                          background-position: center; background-size: cover;
                                           padding: 35px; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto5 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto6 { width:17%; height: 180px; display: flex;
                                position: relative; top:20%; left: 3.2%;
                                background-position: center; background-size: cover; }

  #contents .bboxbox .bphoto7 { width:36%; height: 390px; display: flex;
                                position: relative; top: 4%; left: 7%;
                                background-position: center;  background-size: cover;}

  #contents .bboxbox .btext7 { width:35%; height: 40px; display: flex; position: relative; top: 75%; left: 10%;
                                z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto8 { width:21%; height: 250px; display: flex;
                                position: relative; top:7%; left: 11%;
                                background-position: center; background-size: cover;}

  #contents .bboxbox .btext8 { width:55%; height: 40px; display: flex; position: relative; top: 75%; left: 10%;
                                z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto9 { width:20%; height: 200px; display: flex;  background-position: center; background-size: cover;
                               position: relative; top: 5%; left:39%; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto9 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto10 { width:15%; height: 150px; display: flex; background-position: center; background-size: cover;
                                 position: relative; top:-3%; left: 59%; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto10 h1 { color: #fff; font-size: 19px; text-align: center; }

  #contents .cbox { width:90%; height:800px; display: flex;
                    flex-direction: column; margin: 0 auto; }

  #contents .cbox1 { width:100%; height: 100px; display: flex; margin: 0 auto;
                     padding: 10px; justify-content: center; align-items: center; flex-flow: row wrap;
                     background-position: center; background-size: contain; background-repeat: no-repeat; }

  #contents .cbox1 h1 { font-size: 42px; color: #9233e2;  text-align: center; line-height: 80px;}
  #contents .cbox1 p { font-size: 15px; text-align: center; color: #666;}

  #contents .cbox2 {  width:100%; height: 1000px; display: flex; margin: 80px auto;
                      flex-direction: row; justify-content: space-between; }

  #contents .cbox2 .cphotobox { width:32%; height: 690px; display: flex;
                                 flex-direction: column; }

  #contents .cphotobox .cphoto { width:100%; height: 400px; display: flex;
                                            background-position: center; background-size: cover; }

  #contents .cphotobox .ctext {  width:100%; height: 280px; display: flex;
                                 padding: 5px;  flex-direction: column; align-items: center;justify-content: center;}

  #contents .cphotobox .ctext h1 { text-align: center; font-size: 23px; font-weight: bold; }
  #contents .cphotobox .ctext p { text-align: center; font-size: 14px; color: #666; padding: 10px 5px; }
  #contents .cphotobox .ctext .btn4{  width: 100px; height: 35px; display: flex; align-items: center;
                                    justify-content: center; border-radius: 50px;  cursor: pointer;
                                    background-image: linear-gradient(90deg, #ad01de,#42d2f0 ); border:none; }
  #contents .ctext .btn4 h2 { color: #fff; font-weight: bold; font-size: 13px;}

  #contents .cphotobox .ctext .btn4:hover { background-image: linear-gradient(90deg, #150e30,#150e30);}

  #contents .dbox {  width:100%; height: 1600px; display: flex;
                     background-position: center; background-size: cover;
                      margin: 120px auto 0 auto; align-items: flex-end; justify-content: center;}

  #contents .dbox .dboxbox {   width:85%; height: 1200px; display: flex;
                               justify-content: space-between; margin: 0 auto; flex-flow: row wrap;}

  #contents .dbox .dtext1 { width:65%; height: 80px; display: flex;
                            margin: 90px 0 0 0; align-items: center; padding: 10px; }

  #contents .dbox .dtext1 h1 { color:#fff; font-size: 48px; }

  #contents .dbox .dcheck {  width: 150px; height: 55px; display: flex;
                             margin: 107px 0 0 0; justify-content: center; align-items: center;
                             border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                             background-image: linear-gradient(90deg, #ad01de,#42d2f0 );  }

  #contents .dbox .dcheck select {  border:none; background:none; color: #fff;
                                    font-size: 17px; font-weight: bold;}
  #contents .dbox .dcheck select option { background-color: #8849e4;}

  #contents .dbox .dphoto { width:100%; height: 500px; display: flex;
                             margin: 0px auto; justify-content: space-between; align-items: center;}

  #contents .dbox .dphoto1 { width:18%; height: 400px; display: flex;
                              flex-direction: column;}

  #contents .dbox .dphoto2 { width:100%; height: 300px; display: block; overflow:hidden;}

  #contents .dbox .dphoto2 img { width:100%; height: 300px; }

  #contents .dbox .dphoto2::after {content:""; display:block; width:100%; height:302px;
                                   background:#8654e9; position:relative; top:-305px; opacity:0;
                                    cursor:pointer; transition:all 0.4s ease-in-out;
                                    background-image: url(img/icon2.png);
                                  background-position:center; background-repeat: no-repeat;
                                  background-size:40px;}

  #contents .dbox .dphoto2:hover:after{ opacity:0.9;}

  #contents .dbox .dptext { width:100%; height: 150px; display: flex;
                            justify-content: center; align-items: center; flex-direction: column;}

  #contents .dbox .dptext h3 { color:#fff; font-size: 19px; line-height: 45px;}

  #contents .dbox .dptext p { font-size: 12px; color:#8654e9; line-height: 20px;}

  #contents .dbox .dtext2 { width:100%; height: 400px; display: flex;
                              margin: 0px auto; justify-content: space-between;flex-flow: row wrap;}

  #contents .dbox .dtext3 { width:1000px; height: 100px; display: flex;  margin: 0 auto;
                            justify-content: center; align-items: center;
                           background-position: center; background-size: contain; background-repeat: no-repeat; }

  #contents .dbox .dtext3 h1 { color:#fff; font-size: 48px; }

  #contents .dbox .dphoto3 { width:18%; height: 110px; display: flex;
                              background-position: center; background-size: contain;
                              background-repeat: no-repeat;}

  #contents .ebox  { width:100%; height: 450px; display: flex;
                       margin: 0 auto; background-position: center; background-size: cover;}

  #contents .ebox .eboxbox  {  width:90%; height: 450px; display: flex;
                                 margin: 0 auto; justify-content: center; flex-direction: column;}

  #contents .eboxbox .etext1 { width:90%; height: 150px; display: flex; margin: 0 auto;
                                flex-direction: column; align-items:center; justify-content: space-around;}
  #contents .eboxbox .etext1 h1 { color:#fff; font-size: 32px; }
  #contents .eboxbox .etext1 p { color:#fff; font-size: 20px; }

  #contents .eboxbox .etext2 { width:95%; height: 150px; display: flex;  margin: 0 auto;
                               align-items: center; justify-content: space-around;  }

  #contents .eboxbox .etext2 .einput { width:550px; height:130px; display: flex;
                                        flex-direction: column; justify-content: space-between;}

  #contents .eboxbox .etext2 input {  width:130px; height: 45px; border-radius: 10px; border:none; padding: 15px;}

  #contents .eboxbox .etext2 input:nth-of-type(2n)  { width:410px; height: 45px; border-radius: 10px; border:none; padding: 15px;}

  #contents .eboxbox .etext2 .btn5box { width: 150px; height: 55px; display: flex; }

  #contents .eboxbox .etext2 .btn5 { width: 140px; height: 55px; display: flex; align-items: center;
                      justify-content: center; border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                      background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}

  #contents .eboxbox .etext2 .btn5 h2{ color: #fff; font-size: 17px; }

}

@media (min-width:1100px) {
  #slider {  width:100%; height: 900px;  display: flex;
              margin: 0 auto;  background-position: center; background-size: cover;  }

  #slider .st { width: 50%; height: 280px;  display: flex;  justify-content: space-around;
                flex-direction: column; position: relative; top: 45%; left: 20%; }
  #slider .st h1 { font-size: 55px;color: #fff; }
  #slider .st h3 { font-size: 40px;color: #fff; }

  #slider .st .btn1 { width: 150px; height: 55px; display: flex; align-items: center;
                      justify-content: center; border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                      background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}
  #slider .st .btn1 h2 {  color: #fff; font-size: 17px; }

  #contents {  width: 100%; height: 4920px; display: flex;
              margin: 0 auto; flex-flow:column wrap; }

  #contents .abox {  width: 100%; height: 550px;  display: flex;
                     margin: 0 auto; }
  #contents .abox .abox1{  width:1050px; height: 550px; display: flex; margin: 0 auto;
                           flex-flow: row wrap;align-items: center; justify-content: space-between;  }
  #contents .abox1 .aphoto { width: 35%; height: 300px; display: flex; align-items: center;  }

  #contents .abox1 .atext {width: 60%; height: 400px; display: flex;
                            flex-direction: column;padding: 15px;}

  #contents .abox1 .atext h1 { font-size: 38px; color:#44199c;  font-weight: bold;}

  #contents .abox1 .atext p { font-size: 15px; line-height: 25px;}

  #contents .abox1 .abutton {  width: 55%; height: 150px; display: flex;
                               align-items: center; justify-content: space-between;}

  #contents .abox1 .abutton h2 { color: #fff;  font-size: 17px; }

  #contents .abox1 .abutton .btn2 { width: 150px; height: 55px; display: flex; align-items: center;
                                   justify-content: center; border-radius: 50px;  cursor: pointer;
                                   border:none; background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}
  #contents .abox1 .abutton .btn3 { width: 150px; height: 55px; display: flex; align-items: center;
                                    justify-content: center; border-radius: 50px;  cursor: pointer;
                                    background:#150e30; border:none;}

  #contents .abox1 .abutton .btn3:hover { background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}

  #contents .bbox {  width: 100%; height: 1400px; display: flex;
                       margin: 0 auto;  background-position:center; background-size:cover;}
  #contents .bbox .bboxbox { width:1050px; height: 1050px; display: flex;
                               margin: 0 auto; flex-flow: row wrap; }
  #contents .bboxbox .bphoto1 { width:30%; height: 350px; display: flex;
                               position: relative; top: 10%; left: 0%; background-position: center; background-size: cover; }

  #contents .bboxbox .btext1 { width:50%; height: 40px; display: flex; position: relative; top: 72%; left: 10%;
                              z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                               justify-content: center; align-items: center; color: #fff;  font-size: 15px; }
  #contents .bboxbox .bphoto2 { width: 20%; height: 220px; display: flex;
                                 position: relative; top: 7%; left: 4.5%; background-position: center;
                                background-size: cover;}

  #contents .bboxbox .btext2 { width:80%; height: 40px; display: flex; position: relative; top: 62%; left: 10%;
                               z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                               justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto3 { width:22%; height: 220px; display: flex;
                                position: relative; top:15%; left: 8.5%;
                                background-position: center; background-size: cover; }
  #contents .bboxbox .btext3 { width:55%; height: 40px; display: flex; position: relative; top: 62%; left: 10%;
                               z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}


  #contents .bboxbox .bphoto4 { width:15%; height: 160px; display: flex;
                                          background-position: center; background-size: cover;  position: relative; top:24%; left: 13%;
                                          padding: 35px; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto4 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto5 { width: 15%; height: 150px; display: flex;   position: relative;  top:12%; left: 0;
                                          background-position: center; background-size: cover;
                                           padding: 35px; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto5 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto6 { width:17%; height: 180px; display: flex;
                                position: relative; top:20%; left: 3.2%;
                                background-position: center; background-size: cover; }

  #contents .bboxbox .bphoto7 { width:36%; height: 390px; display: flex;
                                position: relative; top: 4%; left: 7%;
                                background-position: center;  background-size: cover;}

  #contents .bboxbox .btext7 { width:35%; height: 40px; display: flex; position: relative; top: 75%; left: 10%;
                                z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto8 { width:21%; height: 250px; display: flex;
                                position: relative; top:7%; left: 11%;
                                background-position: center; background-size: cover;}

  #contents .bboxbox .btext8 { width:55%; height: 40px; display: flex; position: relative; top: 75%; left: 10%;
                                z-index:5; background-image: linear-gradient(90deg, #7801d4,#372f52 );
                                justify-content: center; align-items: center; color: #fff; font-size: 15px;}

  #contents .bboxbox .bphoto9 { width:20%; height: 200px; display: flex;  background-position: center; background-size: cover;
                               position: relative; top: 5%; left:39%; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto9 h1{ color: #fff; font-size: 19px; text-align: center;}

  #contents .bboxbox .bphoto10 { width:15%; height: 150px; display: flex; background-position: center; background-size: cover;
                                 position: relative; top:-3%; left: 59%; justify-content: center; align-items: center; }

  #contents .bboxbox .bphoto10 h1 { color: #fff; font-size: 19px; text-align: center; }

  #contents .cbox { width:1050px; height:800px; display: flex;
                    flex-direction: column; margin: 0 auto; }

  #contents .cbox1 { width:1000px; height: 100px; display: flex; margin: 0 auto;
                     padding: 10px; justify-content: center; align-items: center; flex-flow: row wrap;
                     background-position: center; background-size: contain; background-repeat: no-repeat; }

  #contents .cbox1 h1 { font-size: 50px; color: #9233e2; text-align: center; line-height: 80px; }
  #contents .cbox1 p { font-size: 17px; text-align: center; color: #666;}

  #contents .cbox2 {  width:1050px; height: 800px; display: flex; margin: 100px auto;
                      flex-direction: row; justify-content: space-between; }

  #contents .cbox2 .cphotobox { width:32%; height: 690px; display: flex;
                                 flex-direction: column; }

  #contents .cphotobox .cphoto { width:100%; height: 400px; display: flex;
                                            background-position: center; background-size: cover; }

  #contents .cphotobox .ctext {  width:100%; height: 280px; display: flex;
                                 padding: 5px;  flex-direction: column; align-items: center;justify-content: center;}

  #contents .cphotobox .ctext h1 { text-align: center; font-size: 23px; font-weight: bold; }
  #contents .cphotobox .ctext p { text-align: center; font-size: 14px; color: #666; padding: 10px 5px; }
  #contents .cphotobox .ctext .btn4{  width: 100px; height: 35px; display: flex; align-items: center;
                                    justify-content: center; border-radius: 50px;  cursor: pointer;
                                    background-image: linear-gradient(90deg, #ad01de,#42d2f0 ); border:none; }
  #contents .ctext .btn4 h2 { color: #fff; font-weight: bold; font-size: 13px;}

  #contents .cphotobox .ctext .btn4:hover { background-image: linear-gradient(90deg, #150e30,#150e30);}

  #contents .dbox {  width:100%; height: 1600px; display: flex;
                     background-position: center; background-size: cover;
                      margin: 120px auto 0 auto; align-items: flex-end; justify-content: center;}

  #contents .dbox .dboxbox {   width:1050px; height: 1200px; display: flex;
                               justify-content: space-between; margin: 0 auto; flex-flow: row wrap;}

  #contents .dbox .dtext1 { width:45%; height: 80px; display: flex;
                            margin: 90px 0 0 0; align-items: center; padding: 10px; }

  #contents .dbox .dtext1 h1 { color:#fff; font-size: 48px; }

  #contents .dbox .dcheck {  width: 150px; height: 55px; display: flex;
                             margin: 107px 0 0 0; justify-content: center; align-items: center;
                             border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                             background-image: linear-gradient(90deg, #ad01de,#42d2f0 );  }

  #contents .dbox .dcheck select {  border:none; background:none; color: #fff;
                                    font-size: 17px; font-weight: bold;}
  #contents .dbox .dcheck select option { background-color: #8849e4;}

  #contents .dbox .dphoto { width:100%; height: 500px; display: flex;
                             margin: 0px auto; justify-content: space-between; align-items: center;}

  #contents .dbox .dphoto1 { width:18%; height: 400px; display: flex;
                              flex-direction: column;}

  #contents .dbox .dphoto2 { width:100%; height: 300px; display: block; overflow:none;
                              background-position: center; background-size: cover;}

  #contents .dbox .dphoto2::after {content:""; display:block; width:100%; height:302px;
                                   background:#8654e9; position:relative; top:-305px; opacity:0;
                                    cursor:pointer; transition:all 0.4s ease-in-out;
                                    background-image: url(../img/icon2.png);
                                  background-position:center; background-repeat: no-repeat;
                                  background-size:40px;}

  #contents .dbox .dphoto2:hover:after{ opacity:0.9;}

  #contents .dbox .dptext { width:100%; height: 100px; display: flex;
                            justify-content: center; align-items: center; flex-direction: column;}

  #contents .dbox .dptext h3 { color:#fff; font-size: 19px; line-height: 45px;}

  #contents .dbox .dptext p { font-size: 12px; color:#8654e9; line-height: 20px;}

  #contents .dbox .dtext2 { width:100%; height: 400px; display: flex;
                              margin: 0px auto; justify-content: space-between;flex-flow: row wrap;}

  #contents .dbox .dtext3 { width:1000px; height: 100px; display: flex;  margin: 0 auto;
                            justify-content: center; align-items: center;
                           background-position: center; background-size: contain; background-repeat: no-repeat; }

  #contents .dbox .dtext3 h1 { color:#fff; font-size: 48px; }

  #contents .dbox .dphoto3 { width:18%; height: 110px; display: flex;
                              background-position: center; background-size: contain;
                              background-repeat: no-repeat;}

  #contents .ebox  { width:100%; height: 450px; display: flex;
                       margin: 0 auto; background-position: center; background-size: cover;}

  #contents .ebox .eboxbox  {  width:1050px; height: 450px; display: flex;
                                 margin: 0 auto; justify-content: center; flex-direction: column;}

  #contents .eboxbox .etext1 { width:90%; height: 150px; display: flex; margin: 0 auto;
                                flex-direction: column; align-items:center; justify-content: space-around;}
  #contents .eboxbox .etext1 h1 { color:#fff; font-size: 32px; }
  #contents .eboxbox .etext1 p { color:#fff; font-size: 20px; }

  #contents .eboxbox .etext2 { width:90%; height: 150px; display: flex;  margin: 0 auto;
                               align-items: center; justify-content: space-between;  }

  #contents .eboxbox .etext2 .einput {  width:750px; height:55px; display: flex;
                                        flex-direction: row; justify-content: space-between;}

  #contents .eboxbox .etext2 input { width:220px; height: 55px; border-radius: 10px; border:none; padding: 15px;}

  #contents .eboxbox .etext2 input:nth-of-type(2n)  { width:500px; height: 55px; border-radius: 10px; border:none; padding: 15px;}

  #contents .eboxbox .etext2 .btn5box { width: 150px; height: 55px; display: flex; }

  #contents .eboxbox .etext2 .btn5 { width: 150px; height: 55px; display: flex; align-items: center;
                      justify-content: center; border-radius: 50px; border: 2px solid #fff; cursor: pointer;
                      background-image: linear-gradient(90deg, #ad01de,#42d2f0 );}

  #contents .eboxbox .etext2 .btn5 h2{ color: #fff; font-size: 17px; }

}
